{% include 'header.html' %}
<div class="col-lg-12 poza">
        <h1 class = "pozdrav non-index">About Me</h1><br><br>
    </div>
</div>
</section>
<section>
<div class="center-block">
    <p>
        Hey there! I'm an enthusiastic professional with a background in quantitative methods, a knack for Python, and an eye for data-driven solutions.
    </p>
    <p>
        My journey began with a Master's degree in Quantitative Methods in Economics, where I discovered the exciting world of statistics and machine learning.
    </p>
    <p>
        During my workweek, I assume the role of an "Actuarial Technician" at Zurich Insurance. My professional landscape is not confined to number crunching; I'm the orchestrator behind the development of production scripts and support behind creating of Airflow pipelines. Beyond the traditional actuarial realm, I'm a dedicated advocate of automation. I am tring to take on any IT learning opportunity that comes up either in work related situations, or in free time
    </p>    
    <p>
        But my love for coding runs deep. I'm a self-taught Python enthusiast with a penchant for creating. I've dabbled in Java and JavaScript on a basic level too, making me a versatile tech enthusiast. Whether it's crunching numbers or building software, I'm your guy.
    </p>
    <p>
        My ultimate dream? To become a full-time developer. I'm passionate about combining my analytical skills and programming chops to craft solutions that matter. I'm on a perpetual journey of growth, always striving to level up my coding game.
    </p>
    <p>
        Outside of work, I'm a fitness fanatic. I love running, working out, and analyzing and adjusting my diet. These hobbies keep me balanced and energized for my tech adventures. When I'm not in front of the screen, you'll find me hitting the pavement, lifting weights, or experimenting with healthy recipes in the kitchen. And, recently, I've embarked on a journey of contributing to open-source projects by diving into GitHub issues. While I'm just getting started, I'm thrilled to have already successfully tackled a couple of very easy issues – a small but rewarding step in the world of open-source development!
    </p>    
    <p>
        I'm stoked about the endless possibilities ahead. If you're ready to embark on a tech adventure, discuss fitness goals, or just want to connect, reach out.
    </p>
    <h2>Downloadables:</h2>
    {% for certificate in certificates %}
    <li>
        <a href="{{ url_for('download_cert', certificate_name=certificate) }}">
            {{ certificate }}
        </a>
    </li>
    {% endfor %}
</div>
</section>
{% include 'footer.html' %}
