{% include 'header.html' %}
<div class="col-lg-12 poza">
        <h1 class = "pozdrav non-index">About Me</h1><br><br>
    </div>
</div>
</section>
<section>
<div class="center-block">
<p >
    So welcome, this part of the site is made to tell you more about me, my personality accomplishments etc.
</p>
<p >
 I am a recent Master's gratduate of quantitative methods in economics on University of agriculture in Nitra, as my bachelor's field of study i finished business management. About my field of study, its a mostly analytical field focused on statistical analysis of data mostly in the economical field. Which indicates that i feel confident with maths and statistics. I do have a lot to learn in this field though.
</p>
<p >
    I am able to work in statistical software Sas Enterprise guide. Specifically  I can run various data analysis, prepare data and correctly interpret the output provided by software. I can also work with full MS office package on advanced level and i have basics in VBA. I can also work with Python programming language on Intermediate level, although it's hard to determine your own level in it. I fully understand all basic and intermediate concepts and i can work with various frameworks, modules, libraries. In the IT field though i am a newbie and my biggest disadvantage is that I'm a self-taught "developer", but my advantage is that im determined and hard-working.
</p>
<p>
  Do i have experience? Unfortunately real work experience is something i lack of in this field, I have experience in other fields though.
</p>
<ul>
    <li>
       I have almost 2 year experience of working with data on Data Administration/Maintenance Position at Swiss Re. This is my current position. The position is very Data-driven and requires a responsible approach and a lot of logical and analytical thinking. There is a lot of space to innovate and bring new ideas to improve BaU processes.
        
    </li>
    <li>
       A 1 year experience as a International trade manager at Roal Group in Nitra .
    </li>
    <li>
       And other part-time jobs to get by as students, but More details of that in my <a href="{{url_for('downloadcven')}}">CV</a>
    <br>.
    </li>
</ul>

<p >
    if you got to this point of this, cover letter thing, you are wondering why did i make this site? Well for numerous reason
</p>
<ul>
    <li>i am trying to learn, so the best way of learning is practice</li>
    <li>CV's and cover letters are sometimes limited and i think this is a easier way to show what i know</li>
</ul>
    <h2>Downloadables:</h2>
    <a href="{{url_for('downloadcert')}}">Python udemy certificate.pdf</a>
    <br>
    <a href="{{url_for('downloadcven')}}">English CV.pdf</a>
    <br>
    <a href="{{url_for('downloadcvsk')}}">Slovak CV.pdf</a>
    <br>
    <a href="{{url_for('downloadvbacert')}}">VBA Linked in learning certificate.pdf</a>
</div>
</section>
{% include 'footer.html' %}
