<footer>
   <div class="row">
        <div class="col-lg-12 footer-item">
         <a href ="https://www.facebook.com/domo.balga/"><i class="fab fa-facebook social-icon"></i></a>
         <a href ="https://www.instagram.com/domobalga/?hl=en"><i class="fab fa-instagram social-icon"></i></a>
         <a href ="https://github.com/DominikBalga"><i class="fab fa-github social-icon"></i></a>
        </div>
       <div class="col-lg-12 footer-item">
            <h4>© Dominik Balga 2021</h4>
       </div>
    </div>
</footer>

</body>
</html>