{% include 'header.html' %}
<div class="col-lg-7 poza">
        <h1 class = "pozdrav">This is my personal "bragging" page.<br><br>Welcome.</h1>

    </div>
    <div class="col-lg-5 poza ml-auto">
        <img src="https://pbs.twimg.com/media/Ew31E9YWQAIkLDS?format=jpg&name=large" alt="Dominik Balga" width="320px" class = "hello-img" >
    </div>
</div>
</section>
<!-- INTRODUCTION -->
<section id="introduction">

    <div class="row intr">
        <div class="col-lg-12 intro-item">
        <h1>Who am I?</h1>
        </div>
    <div class="col-lg-4 intro-item">
    <i class="fas fa-graduation-cap intro-icon"></i>
    <h2> A student of quantitative methods in economics on University of agriculture in Nitra.  </h2>
    </div>
    <div class="col-lg-4 intro-item">
    <i class="fas fa-laptop-code intro-icon"></i>
    <h2> An autodidact in Python programming language.  </h2>
    </div>
    <div class="col-lg-4 intro-item">
    <i class="fas fa-smile-wink intro-icon"></i>
    <h2> Friendly,  determined, data-scientist wannabe.  </h2>
    </div>
    </div>
</section>
<!-- Slide project case -->
<section id="carousel">
    <div class="row">
        <div class="col-lg-12">
         <h1> What can I do?</h1>
        </div>
    </div>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      {% if projects|length > 0 %}
      <div class="carousel-item active">
          <h2>{{projects[0].title}}</h2>
        <br>
        <img src="{{projects[0].img_url}}" alt="{{projects[0].title}}" class="carousel-img" >
        <h3>{{projects[0].subtitle}}</h3>
      {% endif %}
    </div>
      {% for project in projects[1:] %}
    <div class="carousel-item">
        <h2>{{project.title}}</h2>
        <br>
        <img src="{{project.img_url}}" alt="{{project.title}}" class="carousel-img" >
        <h3>{{project.subtitle}}</h3>
    </div>
      {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>
</section>
<section id="contactme">
   <div class="row">
        <div class="col-lg-12">
         <h2>And right now, I am lookin for a data-science internship, so if you got a interesting opportunity for me :</h2>
        </div>
       <div class="col-lg-12 contact-btn">
           <a type="button" class="btn btn-outline-warning btn-lg btn" href="{{url_for('contactme')}}" >Contact me</a>
       </div>
    </div>
</section>
{% include 'footer.html' %}