{% import "bootstrap/wtf.html" as wtf %}
{% include 'header.html' %}
<div class="col-lg-12 poza">
        <h1 class = "pozdrav">Register as admin</h1>

    </div>
</div>
</section>
<div class="center-block">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "outline-warning"})}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% include 'footer.html' %}